<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
                    data-toggle="collapse" 
                    data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" >Sub Equipo del Sprint</span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-left">
            </ul>
            <ul class="nav navbar-nav navbar-right">
<li class="navbar-text" ng-show="usuario.nombre" ng-bind="usuario.nombre"></li>
<li><a ng-click="VSprint1(idSprint)"
       ng-show="actor=='desarrollador' || actor=='duenoProducto' || actor=='maestroScrum' || false">
    Regresar</a></li>

            </ul>
        </div>
    </div>
</nav>

    <form name="fEquipoForm" ng-submit="AActualizarEquipoSprint0(fEquipoForm.$valid)" novalidate>
            <input id="fEquipo_idProyecto" type="hidden" name="idProyecto" ng-model="fEquipo.idProyecto" />
            <div ng-repeat="item_fEquipo in fEquipo.lista"><ng-form name="fEquipo_lista_form">
            <div class="form-group" ng-class="{ 'has-error' :  fEquipoSubmitted && fEquipoForm.miembro.$invalid && fEquipoForm.miembro.$pristine && fEquipoSubmitted}"><label for="fEquipo_miembro">Miembro</label>:&nbsp;<select id="fEquipo_miembro" ng-model="item_fEquipo.miembro" required ng-options="item.key as item.value for item in fEquipo_opcionesMiembros"></select><p ng-show="fEquipoSubmitted && fEquipoForm.miembro.$invalid" class="help-block">Error en campo Miembro.</p></div>
            <div class="form-group" ng-class="{ 'has-error' :  fEquipoSubmitted && fEquipoForm.rol.$invalid && fEquipoForm.rol.$pristine && fEquipoSubmitted}"><label for="fEquipo_rol">Rol</label>:&nbsp;<select id="fEquipo_rol" ng-model="item_fEquipo.rol" required ng-options="item.key as item.value for item in fEquipo_opcionesRol"></select><p ng-show="fEquipoSubmitted && fEquipoForm.rol.$invalid" class="help-block">Error en campo Rol.</p></div>
            <a ng-click="elimMiembro($index)" class="btn btn-primary">-Miembro</a></ng-form></div>
            <a ng-click="agrMiembro()" class="btn btn-primary">+Miembro</a>
        <button type="submit" class="btn btn-perso btn-lg btn-block">
            <span class="glyphicon glyphicon-flash"></span>Actualizar
        </button>
    </form>
    <hr />


<div id="right"></div>
