<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse"
                    data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" >Carrera</span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-left">
<li><a ng-click="VSprintHistoria2(idSprint)"
       ng-show="actor=='duenoProducto' || false">
  +Asignar Historia</a></li>
<li><a ng-click="VSprintTarea3(idSprint)"
       ng-show="actor=='duenoProducto' || false">
  +Asignar Tarea</a></li>
<li><a ng-click="VResumenHistoria4(idSprint)"
       ng-show="actor=='desarrollador' || false">
  +Asignar Resumen</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
<li class="navbar-text" ng-show="usuario.nombre" ng-bind="usuario.nombre"></li>
<li><a ng-click="VSprints1(idPila)"
       ng-show="actor=='desarrollador' || actor=='duenoProducto' || actor=='maestroScrum' || false">
    Regresar</a></li>

            </ul>
        </div>
    </div>
</nav>

    <form name="fSprintForm" ng-submit="AModifSprint0(fSprintForm.$valid)" novalidate>
            <input id="fSprint_idPila" type="hidden" name="idPila" ng-model="fSprint.idPila" />
            <div class="form-group" ng-class="{ 'has-error' :  fSprintSubmitted && fSprintForm.numero.$invalid && fSprintForm.numero.$pristine && fSprintSubmitted}"><label for="fSprint_numero">Número</label><input id="fSprint_numero" type="number" name="numero" class="form-control" ng-model="fSprint.numero" placeholder="Número" required/><p ng-show="fSprintSubmitted && fSprintForm.numero.$invalid" class="help-block">Error en campo Número.</p></div>
            <div class="form-group" ng-class="{ 'has-error' :  fSprintSubmitted && fSprintForm.descripcion.$invalid && fSprintForm.descripcion.$pristine && fSprintSubmitted}"><label for="fSprint_descripcion">Descripción</label><textarea id="fSprint_descripcion" name="descripcion" class="form-control" ng-model="fSprint.descripcion" placeholder="Descripción" required></textarea><p ng-show="fSprintSubmitted && fSprintForm.descripcion.$invalid" class="help-block">Error en campo Descripción.</p></div>
        <button type="submit" class="btn btn-perso btn-lg btn-block">
            <span class="glyphicon glyphicon-flash"></span>Modificar
        </button>
    </form>
    <hr /><h3>Historias</h3>
        <table ng-table="tableParams6" template-pagination="pager.html" class="table">
            <tr ng-repeat="row in $data">
                <td data-title="'Prioridad'" ng-bind="row['prioridad']"></td>
                <td data-title="'Enunciado'" ng-bind="row['enunciado']"></td>
                <td data-title="'Resumen'" ng-bind="row['resumen']"></td>
                <td ng-show="row['idHistoria']"><a ng-click="AElimSprintHistoria6(row['idHistoria'])" ng-show="actor=='duenoProducto' || false">-historia</a></td>
            </tr>
        </table>

<hr /><h3>Tareas</h3>
        <table ng-table="tableParams8" template-pagination="pager.html" class="table">
            <tr ng-repeat="row in $data">
                <td data-title="'Descripción'" ng-bind="row['descripcion']"></td>
                <td ng-show="row['idTarea']"><a ng-click="AElimSprintTarea8(row['idTarea'])" ng-show="actor=='duenoProducto' || false">-tarea</a></td>
            </tr>
        </table>

<hr />


<div id="right"></div>